<table class="table table-bordered table-hover">
  <thread>
    <tr>
      <td>Nome</td>
      <td>Descrição</td>
      <td>Departamento</td>
      <td>Preço</td>
      <td>Quantidade</td>
      <td colspan="2">
    </tr>
  </thread>
  <tbody>
    <%= render @produtos %>
  </tbody>
</table>